BODY
{
    FONT-SIZE: 10.5pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.PageTitle
{
    FONT-SIZE: 18pt;
    COLOR: white;
    FONT-FAMILY: 'Arial Black'
}
.HeaderLeft
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #593a70;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #b596cc
}
.HeaderRight
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #b596cc;
    BACKGROUND-COLOR: #593a70
}
TD
{
    FONT-SIZE: 10.5pt;
    FONT-FAMILY: Arial
}
.PageAuthor
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9.5pt;
    COLOR: white;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial
}
.LeftMenu
{
    FONT-SIZE: 9.3pt
}
.DefaultHeading
{
    FONT-WEIGHT: bolder;
    COLOR: black
}
A
{
    COLOR: darkgreen
}
A:link
{
    COLOR: #986da0
}
A:visited
{
    COLOR: #593a70
}
A:active
{
    COLOR: #b596cc
}
.Options
{
    FONT-SIZE: 9pt;
    COLOR: #593a70
}
.ModeratedNotice
{
    FONT-SIZE: 6.8pt
}
.AdminOptions
{
    FONT-SIZE: 7.5pt;
    COLOR: red
}
.NavigationLinks
{
    FONT-SIZE: 9pt;
    COLOR: #593a70;
    FONT-FAMILY: Arial
}
TH
{
    COLOR: white;
    BACKGROUND-COLOR: #b596cc
}
.BringTogether
{
    FONT-SIZE: 16pt;
    COLOR: #593a70
}
.NavigationHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11.2pt;
    COLOR: white;
    BACKGROUND-COLOR: #b596cc
}
.SectionHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11.2pt;
    BACKGROUND-COLOR: #e5d5e5
}
